---
import SplashLayout from '@/layouts/Splash.astro'
import LogoutButton from '@/components/LogoutButton.vue'

const user = Astro.locals.user
if (!user) {
	return Astro.redirect("/login")
}
---

<SplashLayout title="CLASS Stack">
  <div class="flex justify-center flex-col items-center w-[calc(100%-32px)] h-[calc(100%-32px)] fixed rounded-xl bg-white">
    <LogoutButton client:load />
  </div>
</SplashLayout